In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("timesData2011.csv")

In [4]:
df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42:58:00,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45:55:00,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Kent State University,United States of America,33.5,15.9,33.3,76.8,26.3,46.5,"23,122",19.0,8%,58:42:00,2011
196,197,University of Illinois at Chicago,United States of America,57.8,51.8,46.8,34.7,-,46.4,"24,313",9.2,17%,53:47:00,2011
197,197,Zhejiang University,China,54.6,29.6,41.3,44.3,70.3,46.4,"47,508",15.9,5%,41:59:00,2011
198,199,Simon Fraser University,Canada,32.9,51.9,44.2,60.2,37.9,46.2,"26,640",28.3,19%,55:45:00,2011
199,199,Swedish University of Agricultural Sciences,Sweden,43.3,NaN,49.5,41.7,99.9,46.2,"3,879",4.6,NaN,67:33:00,2011

In [5]:
df.student_staff_ratio.describe()

count    200.000000
mean      15.951000
std        9.786772
min        3.600000
25%       10.200000
50%       14.700000
75%       18.125000
max       70.400000
Name: student_staff_ratio, dtype: float64

In [6]:
bins=(0,15,71)
labels=['good','bad']
df['review']=pd.cut(df['student_staff_ratio'],bins=bins,labels=labels)

In [7]:
df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,review
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011,good
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011,good
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011,good
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42:58:00,2011,good
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45:55:00,2011,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Kent State University,United States of America,33.5,15.9,33.3,76.8,26.3,46.5,"23,122",19.0,8%,58:42:00,2011,bad
196,197,University of Illinois at Chicago,United States of America,57.8,51.8,46.8,34.7,-,46.4,"24,313",9.2,17%,53:47:00,2011,good
197,197,Zhejiang University,China,54.6,29.6,41.3,44.3,70.3,46.4,"47,508",15.9,5%,41:59:00,2011,bad
198,199,Simon Fraser University,Canada,32.9,51.9,44.2,60.2,37.9,46.2,"26,640",28.3,19%,55:45:00,2011,bad
199,199,Swedish University of Agricultural Sciences,Sweden,43.3,NaN,49.5,41.7,99.9,46.2,"3,879",4.6,NaN,67:33:00,2011,good

In [8]:
df['review'].value_counts()

good    107
bad      93
Name: review, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [10]:
label_quality= LabelEncoder()
df['review']=label_quality.fit_transform(df['review'])

In [11]:
df

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,review
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011,1
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011,1
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011,1
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42:58:00,2011,1
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45:55:00,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,Kent State University,United States of America,33.5,15.9,33.3,76.8,26.3,46.5,"23,122",19.0,8%,58:42:00,2011,0
196,197,University of Illinois at Chicago,United States of America,57.8,51.8,46.8,34.7,-,46.4,"24,313",9.2,17%,53:47:00,2011,1
197,197,Zhejiang University,China,54.6,29.6,41.3,44.3,70.3,46.4,"47,508",15.9,5%,41:59:00,2011,0
198,199,Simon Fraser University,Canada,32.9,51.9,44.2,60.2,37.9,46.2,"26,640",28.3,19%,55:45:00,2011,0
199,199,Swedish University of Agricultural Sciences,Sweden,43.3,NaN,49.5,41.7,99.9,46.2,"3,879",4.6,NaN,67:33:00,2011,1

In [12]:
df['review'].value_counts()

1    107
0     93
Name: review, dtype: int64

In [13]:
X= df.iloc[:,[3,6,8]].values
y=df.iloc[:,14].values

In [14]:
X

array([[99.7, 98.8, 96.1],
       [97.7, 99.9, 96. ],
       [97.8, 99.9, 95.6],
       [98.3, 99.2, 94.3],
       [90.9, 99.9, 94.2],
       [90.5, 94. , 91.2],
       [88.2, 95.1, 91.2],
       [84.2, 97.8, 91.1],
       [89.2, 88.3, 90.6],
       [92.1, 91.5, 89.5],
       [83. , 93.2, 87.7],
       [79.1, 96.9, 86.9],
       [80.9, 92.3, 86.4],
       [82.2, 88.1, 83.9],
       [77.5, 83.1, 83.4],
       [83.9, 84.1, 83.4],
       [75.8, 82.2, 82. ],
       [73.8, 92.6, 81. ],
       [71.8, 93.6, 79.5],
       [70.3, 95.7, 79.3],
       [68.4, 96.1, 79.2],
       [74. , 80.6, 78.4],
       [68.2, 95.9, 78. ],
       [66.8, 92.3, 76.5],
       [64.5, 95.3, 75.9],
       [87.7, 58.1, 75.6],
       [67.9, 83.2, 75.3],
       [69.5, 96.5, 75.1],
       [56.6, 98.8, 75. ],
       [65.1, 80.3, 73.8],
       [70.9, 85. , 73.8],
       [59.8, 90.8, 73.2],
       [68.1, 72.9, 73. ],
       [65.5, 78.7, 72.9],
       [69. , 69. , 71.7],
       [58.7, 83.3, 71. ],
       [76.4, 72.2, 70.7],
       [58.9, 88.6, 69.9],
       [57.9, 91.4, 69.5],
       [59.9, 86.8, 69.2],
       [50.4, 98.2, 69. ],
       [66.8, 95.7, 68.6],
       [51.9, 81. , 67. ],
       [65.8, 62.3, 67. ],
       [57.3, 92.5, 67. ],
       [55.5, 83.4, 67. ],
       [57.4, 99.1, 66.9],
       [55. , 83.8, 66.5],
       [49.4, 91.6, 66. ],
       [57.5, 92.7, 66. ],
       [64.9, 78.1, 65.9],
       [57.6, 76.4, 65.6],
       [64.1, 83.9, 65.2],
       [57.3, 68.8, 65. ],
       [59.7, 77.7, 64.9],
       [61.3, 67.9, 64.7],
       [78.9, 46.3, 64.6],
       [74.9, 52.7, 64.2],
       [53.6, 91.4, 64. ],
       [62. , 82.9, 63.9],
       [63.4, 77.8, 63. ],
       [59.1, 76.4, 63. ],
       [56.4, 89.1, 62.8],
       [58.5, 78.3, 62.7],
       [67.2, 66. , 62.2],
       [63.5, 67.2, 62.1],
       [46.4, 83.4, 61.6],
       [49.6, 80.9, 61.4],
       [38.3, 99.6, 61.4],
       [63.5, 74.4, 61.4],
       [49.8, 64.3, 61.2],
       [62. , 68.6, 61.1],
       [46.5, 90.5, 60.7],
       [65.4, 71.9, 60.7],
       [53.1, 95.6, 60.4],
       [47.7, 84.4, 60.3],
       [48.5, 72.1, 59.7],
       [48.5, 85.8, 59.6],
       [71.3, 45.5, 59.5],
       [42.4, 91.6, 59.5],
       [51.8, 69. , 59.1],
       [47.9, 81.9, 59.1],
       [59.2, 70.3, 59. ],
       [55.8, 72. , 59. ],
       [39.8, 91. , 58.9],
       [62.4, 51.6, 58.3],
       [56.5, 59.2, 58. ],
       [37.7, 93.2, 57.9],
       [46.3, 67.6, 57.8],
       [50.8, 72.9, 57.7],
       [56.6, 65. , 57.7],
       [54.6, 79.2, 57.7],
       [44.7, 68.5, 57.6],
       [42.4, 86.3, 57.5],
       [60.6, 70.2, 57.3],
       [52.4, 70.1, 57.3],
       [50.2, 78.3, 57.3],
       [45.4, 79.2, 57.2],
       [44.7, 79.7, 57.1],
       [51.1, 88.8, 57. ],
       [50.4, 71.2, 56.9],
       [49. , 75.4, 56.6],
       [44.8, 72.9, 56.5],
       [50.5, 64.9, 56.4],
       [53.4, 55.7, 56.3],
       [57. , 43.9, 56.2],
       [52.2, 66.9, 56.1],
       [36.6, 82.8, 56.1],
       [46.3, 77.6, 56. ],
       [62.3, 54.6, 56. ],
       [32.9, 97.6, 55.6],
       [34.3, 95.7, 55.4],
       [62.9, 45.5, 55.4],
       [55.4, 56.9, 55.3],
       [50.3, 61.6, 55.2],
       [38.3, 81. , 55.2],
       [38.6, 78.3, 55.1],
       [46.6, 63.1, 55. ],
       [57.7, 45.2, 54.8],
       [52.2, 66. , 54.6],
       [39.7, 73.5, 54.6],
       [50.4, 63.7, 54.5],
       [46.2, 64.6, 54.5],
       [52.8, 52.8, 54.4],
       [43.5, 74.9, 54.4],
       [47.3, 59.3, 54.4],
       [53.7, 49.7, 54.3],
       [45.6, 65.1, 54.2],
       [36.9, 75.9, 54. ],
       [61.7, 40. , 53.4],
       [32.9, 79.1, 53.4],
       [60.3, 41.2, 53.3],
       [52.4, 64.3, 53.3],
       [48.6, 54.8, 53.3],
       [39.9, 73.1, 52.7],
       [43.1, 59.1, 52.6],
       [48.9, 58.4, 52.5],
       [56.1, 51.9, 52.4],
       [47.6, 58.5, 52.3],
       [51.9, 71.5, 52.2],
       [34.1, 79.3, 52.2],
       [34.1, 91.9, 52.1],
       [43.4, 58.8, 52. ],
       [58.5, 53. , 51.9],
       [34.8, 71.8, 51.8],
       [50.3, 52.1, 51.8],
       [29.5, 99.8, 51.6],
       [49.6, 40.7, 51.6],
       [39.4, 62.4, 51.4],
       [37.8, 64.6, 51.4],
       [55.5, 29. , 51.3],
       [41.2, 70.6, 51.2],
       [42.7, 63.6, 51.2],
       [49.5, 51.2, 51.2],
       [35. , 84.7, 51.1],
       [48.5, 63.2, 51. ],
       [49.3, 58.2, 51. ],
       [67.3, 48.9, 50.7],
       [39.4, 65.5, 50.4],
       [38.4, 61.3, 50.4],
       [43. , 66.9, 50.3],
       [40.1, 78. , 50.3],
       [46.1, 58.9, 50.2],
       [65.1, 45. , 50.1],
       [42.5, 60.2, 50. ],
       [40.8, 59.6, 50. ],
       [38.1, 57.3, 49.9],
       [46.2, 55.6, 49.8],
       [48.7, 60.4, 49.8],
       [41.7, 54.1, 49.7],
       [46.2, 70.2, 49.6],
       [39.2, 69.5, 49.4],
       [39.9, 70.4, 49.3],
       [43.6, 45. , 49. ],
       [42.1, 62.8, 49. ],
       [46.8, 52.5, 49. ],
       [44.1, 58.3, 48.8],
       [50.9, 52. , 48.5],
       [39.4, 60.5, 48.5],
       [46.8, 65.3, 48.5],
       [53.2, 32.9, 48.3],
       [50. , 48.9, 48.2],
       [39.5, 66.4, 47.7],
       [40.4, 57.9, 47.6],
       [49.9, 42. , 47.5],
       [42.7, 51.3, 47.3],
       [45. , 60.7, 47.2],
       [37.9, 60.2, 47.2],
       [45.9, 57.3, 47. ],
       [45. , 58.2, 46.9],
       [43.6, 61.5, 46.9],
       [43. , 52.2, 46.9],
       [41.6, 48.8, 46.8],
       [49.1, 29.2, 46.8],
       [47.6, 45.6, 46.7],
       [33.5, 76.8, 46.5],
       [57.8, 34.7, 46.4],
       [54.6, 44.3, 46.4],
       [32.9, 60.2, 46.2],
       [43.3, 41.7, 46.2]])

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [16]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [17]:
X_train

array([[ 0.49962513, -0.15834198,  0.07277251],
       [-0.77539761,  0.21714904, -0.49373694],
       [-0.33430867, -1.74374852, -1.07715711],
       [-0.64444933,  0.47343656, -0.25698672],
       [-1.16824246, -0.39674898, -0.74739788],
       [ 0.6719255 ,  1.43302473,  1.3241665 ],
       [ 1.11301445,  0.81912671,  1.14660384],
       [-0.80985769, -0.25966496, -0.8404069 ],
       [-0.29984859,  1.60586981,  0.74074633],
       [ 1.66437563, -1.487461  ,  0.36871028],
       [ 0.38246088, -1.79142992, -0.58674595],
       [-0.31363262,  0.41979499, -0.24853136],
       [-0.32741665, -1.33249645, -1.01796956],
       [ 1.07166236,  1.45686543,  1.61164891],
       [-0.36187672, -1.19541243, -0.76430861],
       [-0.69269344, -0.16430216, -0.22316526],
       [ 0.34110879,  0.38403394,  0.39407637],
       [ 0.71327759, -1.56494327, -0.85731763],
       [ 0.19637648,  0.30655167,  0.45326392],
       [ 0.12056431, -0.71859843, -0.1893438 ],
       [-0.19646837,  0.01450309, -0.67975496],
       [ 0.12745633, -0.37290828, -0.2147099 ],
       [ 0.09299625, -1.1536912 , -0.66284423],
       [-0.3963368 ,  0.24694992, -0.30771891],
       [-1.3750029 ,  0.03238362, -0.71357642],
       [-0.27228053,  0.09794554, -0.2147099 ],
       [ 0.52030117, -0.99276648, -0.3584511 ],
       [ 1.56788742,  0.70588339,  1.95831887],
       [ 1.01652624,  1.50454683,  1.25652359],
       [-1.42324701,  1.23037879, -0.68821033],
       [-1.16135044, -0.65899668, -1.10252321],
       [ 0.18259245,  1.65951138,  0.56318367],
       [-0.49282501, -0.76031965, -0.6712996 ],
       [-1.4645991 ,  0.33039237, -1.16171076],
       [-0.5824212 ,  0.37807377, -0.3584511 ],
       [ 0.1136723 ,  1.06349389,  0.21651371],
       [ 2.96696643,  1.70719278,  2.98987338],
       [ 0.49962513,  0.69396304,  0.30952272],
       [-0.40322881, -0.76627983, -0.65438887],
       [-0.01038397, -1.6066645 , -1.17016613],
       [ 0.76152169, -0.533833  ,  0.57163903],
       [ 1.94694824,  1.30786106,  2.32189956],
       [-0.49282501, -1.52918222, -1.14480003],
       [ 0.73395363,  0.03834379,  0.03895105],
       [ 0.21016051, -2.1788413 , -1.17016613],
       [-1.05797022, -0.64111615, -0.99260346],
       [-0.54796113, -1.11793015, -0.95032664],
       [-0.0724121 , -1.28481505, -0.5021923 ],
       [-0.85120978,  0.89660899, -0.23162063],
       [ 0.56165326, -1.5351424 , -0.40918329],
       [-1.05797022, -0.34310741, -0.83195153],
       [-0.80985769, -1.13581068, -1.1278893 ],
       [ 0.69949356,  0.40787464,  0.47863002],
       [ 3.09791472,  1.64163086,  3.0321502 ],
       [ 0.40313692, -0.06297918, -0.24853136],
       [-1.50595119,  1.57010876, -0.39227256],
       [-0.1620083 , -0.06893936, -0.24853136],
       [ 0.8580099 , -0.31330653,  0.16578152],
       [-0.58931321, -0.93316473, -0.88268372],
       [ 0.83044184,  1.45686543,  0.70692487],
       [ 0.60300535,  0.18734817,  0.0981386 ],
       [ 0.18948446,  1.27806019,  0.48708538],
       [-0.36876874,  1.21249826,  0.48708538],
       [ 0.52719319, -1.17157173, -0.16397771],
       [ 1.89181212,  1.00389214,  2.00059569],
       [-1.00972612,  0.40191447, -0.8404069 ],
       [ 0.83044184,  1.25421949,  1.37489869],
       [-0.67201739, -0.6291958 , -1.10252321],
       [-0.80296567, -0.7245586 , -0.64593351],
       [ 0.94071408,  1.48070613,  1.60319354],
       [ 2.00897637,  0.76548514,  1.95831887],
       [ 1.14058251, -1.5351424 , -0.06251333],
       [-0.09308815, -0.92720455, -0.33308501],
       [ 0.64435744,  0.75356479,  0.41944247],
       [-0.29984859, -0.00337743, -0.28235282],
       [-0.43079687,  0.05026414, -0.0456026 ],
       [ 3.00142651,  1.66547156,  2.87995364],
       [-1.11310634,  0.41979499, -0.43454938],
       [-0.84431776, -0.65899668, -0.86577299],
       [-1.50595119, -0.65899668, -1.18707686],
       [ 2.30533301,  1.42110438,  2.61783733],
       [-1.13378238,  1.68931226,  0.0981386 ],
       [-1.03040216,  1.17673721, -0.11324552],
       [-0.29984859, -0.45039055, -0.48528157],
       [-0.43079687, -0.48019143, -0.78121934],
       [-1.07175425, -0.10470041, -0.91650518],
       [-0.37566075, -0.77820018, -0.78121934],
       [-0.01038397,  0.47343656, -0.2147099 ],
       [-0.78918164, -1.76162905, -1.18707686],
       [ 1.67815966,  1.52838753,  2.25425664],
       [-0.17579232, -0.31330653, -0.47682621],
       [-0.68580142,  0.09794554, -0.31617428],
       [ 0.27218864,  0.71780374,  0.90985363],
       [ 1.38869504, -1.1060098 ,  0.33488882],
       [ 0.60300535, -0.24178443,  0.15732616],
       [ 2.96007442,  1.70719278,  3.02369484],
       [-1.03729418,  0.13370659, -0.47682621],
       [-0.59620523, -0.73647895, -0.84886226],
       [-0.19646837,  0.58071971,  0.57163903],
       [ 0.15502439, -1.6305052 , -0.34154037],
       [-0.1620083 , -0.41462951, -0.58674595],
       [-0.7685056 , -1.56494327, -0.95032664],
       [ 1.31288288,  1.27210001,  1.75539011],
       [ 0.21705252,  1.20057791,  0.78302315],
       [-0.42390486, -0.98084613, -0.58674595],
       [ 0.17570043, -0.14642163,  0.40253174],
       [ 0.86490191, -1.33249645, -0.80658544],
       [-1.23027059,  0.27675079, -0.5275584 ],
       [ 0.98206617, -0.13450128,  0.96904118],
       [ 0.12745633,  1.64163086,  1.24806822],
       [-0.30674061, -0.57555423, -0.42609402],
       [-0.93391395, -0.03913848, -0.76430861],
       [ 0.3480008 ,  1.16481686,  1.09587165],
       [-1.14756641, -0.83184175, -0.87422836],
       [-0.6306653 , -0.36694811, -0.51064767],
       [-0.73404553, -0.77224   , -0.96723737],
       [ 0.92003803,  0.09794554,  1.07896092],
       [-0.78228963, -0.74243913, -0.69666569],
       [-0.89945388, -1.02256735, -0.89113909],
       [-0.35498471, -1.8212308 , -0.73048715],
       [ 0.71327759,  0.53899849,  1.14660384],
       [-0.25160449,  1.04561336, -0.27389745],
       [ 0.30664871, -0.05701901, -0.10479016],
       [-0.85120978,  1.21249826, -0.06251333],
       [-1.13378238,  0.58071971, -0.42609402],
       [-1.05797022, -0.52787283, -0.74739788],
       [-0.38944478, -2.50665092, -1.13634467],
       [-0.56863717,  1.14693634,  0.03895105],
       [-0.43079687,  0.86680811, -0.05405797],
       [ 2.27087294, -0.78416035,  1.29880041],
       [-0.96148201, -0.69475773, -0.86577299],
       [-0.47214896,  0.63436129, -0.09633479],
       [-0.60998926, -0.83184175, -1.11943394],
       [-0.87188582, -0.50403213, -0.95032664],
       [-0.7685056 , -0.5815144 , -1.1278893 ],
       [ 0.35489282,  0.92640986,  0.75765706],
       [-0.07930412,  1.20057791,  0.31797809],
       [-1.42324701,  0.47939674, -0.67975496],
       [-0.5824212 , -0.21794373, -0.20625453],
       [-0.34120068, -0.41462951,  0.08122787],
       [-1.17513447,  1.30786106, -0.19779917],
       [ 1.49207526,  0.05622432,  0.88448753],
       [ 1.32666691,  0.55687901,  1.53555063],
       [ 2.57412159,  1.20653809,  2.47409612],
       [-0.29295658, -0.37886846, -0.32462964],
       [-0.35498471,  0.57475954,  0.0981386 ],
       [-0.9063459 , -1.33845663, -1.13634467],
       [-0.56174515, -0.4861516 , -0.44300475],
       [ 0.01718409,  0.74760461,  0.52936221],
       [-1.02351015, -0.05105883, -0.92496055]])

In [18]:
from sklearn.svm import SVC

In [26]:
classifier=SVC(kernel='rbf',random_state=0)
classifier.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [27]:
y_pred= classifier.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [29]:
cm

array([[17, 15],
       [ 5, 13]], dtype=int64)

In [23]:
14+13

27

In [24]:
27+18+5

50

In [25]:
27/50

0.54

In [30]:
17+13

30

In [31]:
30/50

0.6